.exam-process-main {
  padding: var(--default-padding);
  background: var(--color-tertiary);
  min-height: 100vh;
}

.exam-process-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-element-gap);
}

.nav-section {
  flex: 0 0 15%;
  background: var(--color-primary);
  padding: var(--default-padding);
  border-radius: var(--default-radius);
  box-shadow: var(--default-box-shadow);
}

.question-image {
  width: var(--question-picture-w);
  height: var(--question-picture-h);
  overflow: hidden;
  border-radius: var(--default-radius);
}

.question-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.exam-process-section-nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-element-gap);
}

.exam-process-nav-btn {
  flex: 1 0 calc(33.333% - var(--default-element-gap));
  background: var(--color-secondary);
  color: white;
  border: none;
  padding: var(--smaller-padding);
  border-radius: var(--default-radius);
  cursor: pointer;
  transition: var(--transitions);
}

.exam-process-nav-btn:hover {
  background: var(--color-secondary-alter);
}

.question-section {
  flex: 1;
  background: white;
  padding: var(--default-padding);
  border-radius: var(--default-radius);
  box-shadow: var(--default-box-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--default-element-gap);
}

.question-timer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--default-element-gap);
}

.question-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--default-element-gap);
}

.question-text {
  font-size: var(--default-font);
  margin-bottom: var(--default-padding);
}

.answers-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--default-element-gap);
}


.answers-wrap label {
  font-size: var(--default-error-font);
}

.answers-wrap input {
    transform: scale(1.5);
}

.timer {
  background: var(--color-secondary-diff);
  padding: var(--default-padding);
  border-radius: var(--default-radius);
  font-weight: bold;
  font-size: var(--default-font);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  gap: var(--default-element-gap);
  align-self: flex-end;
}

.navigation-buttons button {
  background: var(--color-primary);
  color: white;
  border: none;
  padding: var(--default-padding);
  border-radius: var(--default-radius);
  cursor: pointer;
  transition: var(--transitions);
}

.navigation-buttons button:hover {
  background: var(--color-secondary);
}

@media (max-width: 768px) {
  .exam-process-wrap {
    flex-direction: column;
  }

  .question-timer {
    flex-direction: column;
    align-items: stretch;
  }

  .timer {
    align-self: flex-end;
  }
}
