.header-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--color-tertiary);
    align-items: center;
    justify-content: space-around;
    font-size: var(--header-font);
}

.header-logo {
    background-image: url('../../public/images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--header-logo-dimensions);
    height: var(--header-logo-dimensions);
    transform: scale(var(--header-logo-scaling));
}

.header-actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--header-element-gap);
    margin: var(--header-div-margin);
}

.header-button {
    text-decoration: none;
    font-size: var(--header-font);
    color: var(--color-primary);
    transition: var(--transitions);
    padding: var(--header-button-padding);
    border: none;
    border-radius: var(--header-button-radius);
    font-weight: var(--header-button-weight);
    cursor: pointer;
    background-color: inherit;
}

.header-button:hover {
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
}

.header-button-form {
    font-weight: var(--header-button-weight);
}
