.proctor-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: var(--default-margin);
    gap: var(--default-element-gap);
    animation: fadeIn ease-in-out .5s;
}

.proctor-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: var(--default-margin);
    background-color: var(--color-tertiary);
    box-shadow: var(--default-box-shadow);
}

.student-activity {
    background-color: var(--color-tertiary);
    padding: var(--default-padding);
    box-shadow: var(--default-box-shadow);
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--default-margin);
    padding: var(--default-padding);
    border: none;
}

.card-wrapper span {
    font-size: var(--default-font);
}

.student-card {
    width: var(--profile-picture-width);
    height: var(--profile-picture-height);
    margin: var(--default-margin);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: var(--transitions);
    animation: fadeIn ease-in-out .5s;
}

.proctor-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--default-element-gap);
    background-color: var(--color-tertiary);
    padding: var(--default-padding);
    color: var(--color-primary);
    border: none;
    border-radius: var(--default-image-radius);
    box-shadow: var(--default-box-shadow);
}


.proctor-option:nth-child(2) div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--default-element-gap);
    margin: var(--default-margin) auto;
}

.proctor-option input {
    font-size: var(--default-error-font);
    padding: var(--default-padding);
    border: none;
    background-color: #fff;
    border-radius: var(--default-image-radius);
    transition: var(--transitions);
}

.proctor-a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--color-secondary);
    font-size: var(--default-error-font);
    padding: var(--smaller-padding);
    border: none;
    border-radius: var(--default-image-radius);
    color: var(--color-tertiary);
    transition: var(--transitions);
    cursor: pointer;
}

.proctor-a:hover {
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
}

.proctor-header {
    margin: var(--default-margin) auto;
    color: var(--color-primary);
    font-size: var(--header-element-gap);
}
