:root {

    /*Color palette*/
    --color-primary: #1F2A44;
    --color-secondary: #3E9BA8;
    --color-tertiary: #faf7f7;
    --transitions: all .2s;
    /*******************************/


    /*Header*/
    --header-font: 1.8rem;
    --header-logo-dimensions: 15rem;
    --header-logo-scaling: 1.3;
    --header-element-gap: 1.5rem;
    --header-div-margin: 5rem;
    --header-button-padding: .8rem;
    --header-button-radius: .3rem;
    --header-button-weight: 500;
    /*******************************/


    /*User auth forms*/
    --user-auth-form-font: 1.8rem;
    --user-auth-cta-font: 1.5rem;
    --user-auth-input-padding: .8rem;
    --user-auth-form-padding: 2rem;
    --user-auth-form-element-gap: .5rem;
    --user-auth-form-border-radius: 1rem;
    --user-auth-form-input-radius: .1rem;
    --user-auth-input-border-radius: .3rem;
    /*******************************/
}
